*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f8fafc;
    color:#1f2937;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 7%;
    background:white;

    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#16a34a;
}

.search-box input{
    width:400px;
    max-width:100%;

    padding:12px;
    border:none;

    border-radius:10px;
    background:#f1f5f9;
}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links a{
    color:#111827;
    font-weight:500;
}

#cartCount{
    background:#16a34a;
    color:white;

    padding:2px 8px;
    border-radius:20px;
}

footer{
    margin-top:60px;
    padding:30px;

    background:#111827;
    color:white;

    text-align:center;
}

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .search-box input{
        width:100%;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }

}